<div class="article">
    <div class="content">
        <h3>Parsing C++ is literally undecidable</h3>
        <span style="color: #958282;">August 24, 2013</span> <hr>
        Many programmers are aware that C++ templates are Turing-complete, and this was proved in the 2003 paper C++
        Templates are Turing Complete.

        However, there is an even stronger result that many people are not aware of. The C++ FQA has a section
        showing that parsing C++ is undecidable, but many people have misinterpreted the full implications of this
        (understandable, since the FQA is discussing several issues over the course of its questions and does not make
        explicit the undecidability proof). <br> <br>
        
        For example, see this (incorrect, but top-voted) Stack Overflow answer to the question What do people mean when they
        say C++ has “undecidable grammar”? This answer errs when it says: “Note this has nothing to do with the ambiguity of the C++ grammar.”
        <br> <br>
        In fact, simply producing a parse tree for a C++ program is undecidable, because producing a parse tree can require
        arbitrary template instantiation. I will demonstrate this with a short program, which is a simplification/adaptation of
        what is in the FQA link above.
    </div>
    <span class="content"><b>Discussions</b></span>
    <div data-ng-include="'components/comment.html'"></div>
</div>
